<!DOCTYPE html>
<html>
<!--
Hi.
Before you will start reading code below - this application was designed to show my skills in building web-apps in practice.
There is no any sense to use 4 JS frameworks for resume - single PDF document will be much better.
And of course I know how to do all this stuff in pure JS.
But when your application to more then few pages - you will need frameworks to keep everything in place.
In this resume I've used Backbone.js - mostly because I never used it before. And I really like it now.
Bootstrap CSS framework is cool for quick UI prototyping.
So relax, take a coffee and enjoy reading my code :)
-->
<head>
	<title>Andrew Kulinich - UI dev expert, IT entrepreneur</title>
	<script src="http://code.jquery.com/jquery-1.6.min.js"></script>
	<script type="text/javascript" src="js/3rd/jquery.tmpl.js"></script>
	<script type="text/javascript" src="js/3rd/underscore.js"></script>
	<script type="text/javascript" src="js/3rd/backbone.js"></script>
	<link type="text/css" rel="stylesheet" href="css/main.css">
	<link href="css/bootstrap/bootstrap.css" rel="stylesheet">
</head>
<body>
<div id="topbar" class="topbar"></div>
<div id="content" class="container"></div>
<footer><p>&copy; Andrew Kulinich 2011</p></footer>
<div>
<script id="topBarTemplate" type="text/template">
	<div class="fill">
		<div class="container-fluid">
			<a class="brand" href="#">Andrew Kulinich - UI dev expert</a>
			<ul class="nav">
				<li class="item index"><a href="#">Overall</a></li>
				<li class="item jobs"><a href="#!/jobs">Jobs</a></li>
				<li class="item projects"><a href="#!/projects">Projects</a></li>
				<li class="item contact"><a href="#!/contacts">Contacts</a></li>
			</ul>
		</div>
	</div>
</script>

<script id="indexTemplate" type="text/template">
	<div class="hero-unit">
		<p>Hi. My name is Andrew Kulinich and you are reading (actually using) my resume. I am UI development expert, team lead and R&D office manager.</p>
		<p>Few words about myself to make this resume less formal.</p>
		<p>When I got interested how whisky is made - I built my own distillery at home. Yes, I'm hacker - I'm interested how things are made. When something is not working correctly - I will get to the root of problem, fix it and learn from that. I hate poorly written code, incorrect indents or inconsistently named variables. Code should be perfect - only then it will work correctly.</p>
		<p>I love Javascript a lot because it is so easy and agile. And today I could write anything with Javascript - not only browser UI, but also server-side and mobile apps. I love it so much that even this resume is written on Javascript - check out page source.</p>
		<p>I live in Ukraine, but I'm ok to relocate if necessary.</p>
		<p>Don't forget to check <a href="#!/jobs">list of companies, I was working for before</a> and <a href="#!/projects">projects, I am proud of</a>. Feel free to <a href="#!/contacts">contact me</a> if you need my help.</p>
	</div>
</script>
<script id="jobsTemplate" type="text/template">
	<ul class="jobsList unstyled"></ul>
</script>
<script id="jobTemplate" type="text/template">
	<h2>
		${data.position}{{if data.company}} at ${data.company}{{/if}}
		{{if data.href != null}}
			<small><a href="${data.href}">${data.href}</a></small>
		{{/if}}
	</h2>
	<p class="time">
		${ model.getStartHRF() }
		&mdash;
		${ model.getFinishHRF() }

		(${model.getTimeSpanHRF() })
	</p>
	<p>
		{{each model.getSkills()}}
			<a href="#!/skill/${encodeURIComponent($value)}" class="label important">${$value}</a>
		{{/each}}
	</p>
	<p>{{html data.notes}}</p>
</script>
<script id="projectsTemplate" type="text/template">
	<h1>Projects I was working on</h1>
	<p>Filter projects:
		<a href="#!/projects" class="label{{if type == null}} success{{/if}}">All</a>
		<a href="#!/projects/pet" class="label{{if type == 'pet'}} success{{/if}}">Pet projects</a>
		<a href="#!/projects/fulltime" class="label{{if type == 'fulltime'}} success{{/if}}">Fulltime projects</a>
	</p>
	<ul class="projectsList unstyled"></ul>
</script>
<script id="projectTemplate" type="text/template">
	<h2>
		${data.name}
		{{if data.href != null}}
			<small><a href="${data.href}">${data.href}</a></small>
		{{/if}}
	</h2>
	<p class="time">
		${ model.getStartHRF() }
		&mdash;
		${ model.getFinishHRF() }

		(${model.getTimeSpanHRF() })
	</p>
	<p>
		{{each model.getSkills()}}
			<a href="#!/skill/${encodeURIComponent($value)}" class="label notice">${$value}</a>
		{{/each}}
	</p>
	<p><strong>Status: </strong>${data.status}</p>
	<p>{{html data.description}}</p>
</script>
<script id="contactsTemplate" type="text/template">
	<h2>Feel free to contact me using</h2>
	<ul class="unstyled">
		<li><a href="mailto:site@4vanger.com">Email</a></li>
		<li><a href="http://www.linkedin.com/in/4vanger/">Linkedin</a></li>
		<li><a href="http://www.github.com/4vanger/">Github</a></li>
		<li><a href="http://twitter.com/4vanger">Twitter</a></li>
		<li><a href="skype:andrew_kulinich?call">Skype</a></li>
		<li><a href="http://www.google.com/profiles/4vanger">Google buzz</a></li>
		<li><a href="https://plus.google.com/101251822268430131098">Google+</a></li>
		<li><a href="http://facebook.com/4vanger">Facebook</a></li>
	</ul>
</script>
<script id="skillsTemplate" type="text/template">
	<h1>Search for ${skill}</h1>
	<div class="jobs hidden">
		<h2>Jobs found</h2>
		<ul class="unstyled"></ul>
	</div>
	<div class="projects hidden">
		<h2>Projects found</h2>
		<ul class="unstyled"></ul>
	</div>
</script>
<script type="text/javascript" src="js/views.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</div>
</body>

</html>
